

<!-- <li role="presentation" class="dropdown-header">Registering and configuring your application</li> -->
<li {% if page.slug == "gettingstarted" %} class="active"{% endif %}> <a href="/docs/gettingstarted/">Registering and managing applications</i></a></li>
<!-- <li {% if page.slug == "api-thirdparty" %} class="active"{% endif %}> <a href="/docs/api-thirdparty/">Using third-party APIs</a></li> -->

<li role="presentation" class="dropdown-header">Dataporten code and libraries</li>

<li {% if page.slug == "oauth-libraries" %} class="active"{% endif %}> <a href="/docs/oauth-libraries/">Dataporten libraries</a></li>
<li {% if page.slug == "applications" %} class="active"{% endif %}> <a href="/docs/applications/">Dataporten-ready Applications</a></li>
<!-- <li {% if page.slug == "example-code" %} class="active"{% endif %}> <a href="/docs/example-code/">More example Code</a></li> -->

<li role="presentation" class="dropdown-header">Technical details</li>
<li {% if page.slug == "gettingstarted-tech" %} class="active"{% endif %}> <a href="/docs/gettingstarted-tech/">Technical getting started guide</i></a></li>
<li {% if page.slug == "authorization" %} class="active"{% endif %}> <a href="/docs/authorization/">OAuth: Obtaining tokens</a></li>
<li {% if page.slug == "oauth-scopes" %} class="active"{% endif %}> <a href="/docs/oauth-scopes/">OAuth Scopes</a></li>
<li {% if page.slug == "oauth-authentication" %} class="active"{% endif %}> <a href="/docs/oauth-authentication/">Authentication: OAuth</a></li>
<li {% if page.slug == "openid" %} class="active"{% endif %}> <a href="/docs/openid/">Authentication: OpenID Connect</a></li>

<li {% if page.slug == "mobile" %} class="active"{% endif %}> <a href="/docs/mobile/">Mobile Applications</a></li>

<li {% if page.slug == "userid" %} class="active"{% endif %}> <a href="/docs/userid/">About UserIDs</i></a></li>

<li {% if page.slug == "groups" %} class="active"{% endif %}> <a href="/docs/groups/">Groups API</a></li>
<li {% if page.slug == "grouptypes" %} class="active"{% endif %}> <a href="/docs/grouptypes/">Groups – data model  </i></a></li>
<!-- <li {% if page.slug == "peoplesearch" %} class="active"{% endif %}> <a href="/docs/peoplesearch/">People Search</a></li> -->
