<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="/"><img class="hidden-xs" src="/bower_components/uninett-bootstrap-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
		</div>

		<div class="navbar-department hidden-xs">
			<a href="/"><div class="department">Startpakke skytjenester</div></a>
		</div>
		

		<nav class="mainNav" role="navigation" >

			<ul class="nav navbar-nav navbar-right hidden-xs" style="">
				<li><a href="https://www.uninett.no/programbeskrivelse" target="_blank">Om UH-Sky <i class="fa fa-external-link"></i></a></li>
			</ul>

		</nav>
	</div>
</header>
