<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="/"><img class="hidden-xs" src="/bower_components/uninett-bootstrap-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
		</div>

		<div class="navbar-department hidden-xs">
			<a href="/"><div class="department">Startpakke skytjenester</div></a>
		</div>
		

		<nav class="mainNav" role="navigation" >
<!--
			<ul class="nav navbar-nav">

				<li class="dropdown
					{% if page.slug == "gettingstarted" %}active{% endif %}
					{% if page.slug == "architecture" %}active{% endif %}
					{% if page.slug == "userid" %}active{% endif %}
					{% if page.slug == "authorization" %}active{% endif %}
					{% if page.slug == "oauth-authentication" %}active{% endif %}
					{% if page.slug == "oauth-libraries" %}active{% endif %}
					{% if page.slug == "oauth-scopes" %}active{% endif %}

					{% if page.slug == "applications" %}active{% endif %}
					{% if page.slug == "example-apis" %}active{% endif %}

					{% if page.slug == "mobile" %}active{% endif %}
					{% if page.slug == "openid" %}active{% endif %}
					{% if page.slug == "browsers" %}active{% endif %}

					{% if page.slug == "groups" %}active{% endif %}
					{% if page.slug == "grouptypes" %}active{% endif %}
					{% if page.slug == "api-thirdparty" %}active{% endif %}

					{% if page.slug == "apigatekeeper" %}active{% endif %}
					{% if page.slug == "orgadmin" %}active{% endif %}
					{% if page.slug == "endusers" %}active{% endif %}
					">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">

						<!-- <li {% if page.slug == "gettingstarted" %} class="active"{% endif %}> <a href="/docs/gettingstarted/">Getting started</a></li> -->
						<li {% if page.slug == "architecture" %} class="active"{% endif %}> <a href="/docs/architecture/">Dataporten Architecture</a></li>

						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">For Application Developers</li>

						{% include nav/docs-main.html %}

						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">For API Owners</li>
						<li {% if page.slug == "apigatekeeper" %} class="active"{% endif %}> <a href="/docs/apigatekeeper/">API Gatekeeper</a></li>
						<li {% if page.slug == "example-apis" %} class="active"{% endif %}> <a href="/docs/example-apis/">›&nbsp;API Example Code</a></li>

						<li class="divider"></li>
						<li {% if page.slug == "neworg" %} class="active"{% endif %}> <a href="/docs/neworg/">Connect new organisations</a></li>
						<li {% if page.slug == "orgadmin" %} class="active"{% endif %}> <a href="/docs/orgadmin/">For site administrators</a></li>
						<li {% if page.slug == "endusers" %} class="active"{% endif %}> <a href="/docs/endusers/">For end-users</a></li>
						<li {% if page.slug == "browsers" %} class="active"{% endif %}> <a href="/docs/browser-support/">Browser support</a></li>

						<!-- <li><a href="https://inspect.{{ site.uwap.domain }}/">API Inspector</a></li> -->
					</ul>
				</li>




				<li{% if page.slug == "status" %} class="active"{% endif %}>
					<a href="http://status.dataporten.no">Status</a>
				</li>

			</ul>
-->
			<ul class="nav navbar-nav navbar-right hidden-xs" style="">
				<li><a href="https://www.uninett.no/programbeskrivelse" target="_blank">Om UH-Sky <i class="fa fa-external-link"></i></a></li>
			</ul>

		</nav>
	</div>
</header>
