

<li><a href="/docs/saas/office365/office365/">Office 365</a></li>
<li>
  <a href="#avtaleform">Avtaleform</a>
  <a href="#campus_avtalen">Campus avtalen EAS</a>
  <a href="#mpsa_forskning">MPSA-avtale for øvrige virksomheter</a>
  <a href="#campus_lisensiering">Campus «On prem» lisensiering</a>
  <a href="#o365_lisensiering">Office 365 lisensiering</a>
  <a href="#o365_uh">Gratis Office 365 for UH-Sektoren</a>
  <a href="#o365_e5">Office 365 E5 oppgraderingspakke</a>
  <a href="#o365_produkter">Office 365 enkeltprodukter</a>
  <a href="#o365_sikkerhet">Sikkerhet i Office 365</a>
</li>
