

<li><a href="/docs/saas/office365/office365/">Office 365</a></li>
<li>
  <a href="#onprem_hw">On-Premises Hardware / VM</a>
  <a href="#o365_tenant">Oppretting av Office 365 tenant</a>
  <a href="#provisjonering">Provisjonering av brukere til Office 365</a>
  <a href="#automatisering">Automatisering av konfigurasjon i Office 365</a>
  <a href="#federation">Føderert pålogging ved bruk av FEIDE</a>
  <a href="#backup_and_archive">Backup / Arkivering</a>
  <a href="#o365_groups">Office 365 grupper</a>
  <a href="#o365_api">Office 365 API</a>
  <a href="#security_compliance">Office 365 Security & Compliance Center</a>
  <a href="#changes">Kontroll på endringer</a>
  <a href="#limitations">Begrensninger</a>
</li>
